/.cursor

# Visual Studio Code
*/.vscode/

# C4G
C4G.Standalone.Tests/coverage/
C4G.Unity/CodeCoverage/

##
## RIDER
##

# https://github.com/JetBrains/resharper-rider-samples/blob/master/.gitignore
# Common IntelliJ Platform excludes

*.suo
*.user
.vs/
.idea/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

##
## END OF RIDER
##
