name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "tag: git tag you want create. (sample 1.0.0)"
        required: true

jobs:
  update-version-number:
    uses: ./.github/workflows/patch-versions.yaml
    with:
      tag: ${{ github.event.inputs.tag }}